body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-5xl: 24px;
  
    /* Colors */
    --color-black: #000;
    --color-gainsboro: #d9d9d9;
  
    /* Border radiuses */
    --br-31xl: 50px;
}

/*Index.css*/
.desktop-2-child {
    position: absolute;
    top: 128px;
    left: 263px;
    background-color: red;
    width: 129px;
    height: 99px;
  }
  .desktop-2-child1,
  .desktop-2-child2,
  .desktop-2-inner,
  .desktop-2-item,
  .rectangle-div {
    position: absolute;
    top: 128px;
    left: 616px;
    background-color: teal;
    width: 134px;
    height: 99px;
  }
  .desktop-2-child1,
  .desktop-2-child2,
  .desktop-2-inner,
  .rectangle-div {
    left: 974px;
    width: 131px;
  }
  .desktop-2-child1,
  .desktop-2-child2,
  .rectangle-div {
    top: 330px;
    left: 435px;
    height: 108px;
  }
  .desktop-2-child1,
  .desktop-2-child2 {
    left: 782px;
    width: 133px;
  }
  .desktop-2-child2 {
    left: 1146px;
    width: 123px;
  }
  .desktop-2-child3,
  .desktop-2-child4,
  .desktop-2-child5
  {
    position: absolute;
    top: 549px;
    left: 263px;
    background-color: yellow;
    width: 129px;
    height: 107px;
  }

  .ellipse-div{
    position: absolute;
    top: 549px;
    left: 263px;
    background-color: crimson;
    width: 129px;
    height: 107px;
  }
  .desktop-2-child4,
  .desktop-2-child5,
  .ellipse-div {
    top: 550px;
    left: 616px;
    width: 134px;
  }
  .desktop-2-child5,
  .ellipse-div {
    top: 549px;
    left: 974px;
    width: 131px;
  }
  .ellipse-div {
    top: 129px;
    left: 72px;
    border-radius: 50%;
    width: 99px;
    height: 98px;
  }
  .arrow-icon {
    position: absolute;
    top: 591.96px;
    left: 1107px;
    width: 223.5px;
    height: 22.09px;
    object-fit: cover;
  }
  .desktop-2-child6,
  .line-div {
    position: absolute;
    top: 601.5px;
    left: 749.5px;
    border-top: 5px solid black;
    box-sizing: border-box;
    width: 225px;
    height: 1px;
  }
  .desktop-2-child6 {
    left: 391.5px;
  }
  .vector-icon {
    position: absolute;
    top: 381.5px;
    left: 185px;
    
    width: 251.5px;
    height: 221px;
    
  }
  .desktop-2-child7,
  .desktop-2-child8 {
    position: absolute;
    top: 381.5px;
    left: 565.5px;
    border-top: 5px solid black;
    box-sizing: border-box;
    width: 217px;
    height: 1px;
  }
  .desktop-2-child8 {
    left: 914.5px;
    width: 232px;
  }
  .desktop-2-child9 {
    position: absolute;
    top: 178.5px;
    left: 1104px;
    width: 260px;
    height: 207.5px;
  }
  .desktop-2-child10,
  .desktop-2-child11 {
    position: absolute;
    top: 178.5px;
    left: 749.5px;
    border-top: 5px solid black ;
    box-sizing: border-box;
    width: 225px;
    height: 1px;
  }
  .desktop-2-child11 {
    left: 391.5px;
  }
  .desktop-2-child12 {
    position: absolute;
    top: 168.06px;
    left: 169.5px;
    width: 93.52px;
    height: 22.09px;
    object-fit: cover;
  }
  .start,
  .stop {
    position: absolute;
    top: 574px;
    left: 1182px;
    font-weight: 600;
    display: inline-block;
    width: 119px;
    height: 29px;
  }
  .stop {
    top: 160px;
    left: 79px;
    text-align: center;
    width: 86px;
    height: 34px;
  }
  .desktop-2 {
    position:relative;
    background-color: transparent;
    width: 100%;
    height: 1024px;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
